.advantages-icon {
  fill: rgb(0, 14, 33);
  margin-right: 10px;
  @media screen and (min-width: 768px) {
    width: 46px;
    height: 46px;
  }
}
// .advantages__container {
//   padding-top: 0;
// }
.advantages__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  //   margin-bottom: 10px;
  background-color: rgba(216, 220, 227, 0.4);
  border-radius: 24px;
  padding: 24px;
  border: 1px solid rgb(220, 223, 227);
  backdrop-filter: blur(25px);
  color: rgb(0, 14, 33);
  @media screen and (min-width: 768px) {
    flex: 0 0 calc((100% - 10px) / 2);
  }

  & h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }
  & p {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.03em;
    line-height: 1;
    height: auto;
    color: rgb(0, 0, 0);
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: stretch;
  }
}
