.telegram-bots {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.telegram-bots a {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
  }
  // &:hover {
  //   transform: rotate(15deg);
  // }
}
.telegram-bots img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.telegram-bots a:hover {
  animation: shake-rotate 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

@keyframes shake-rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
