.container {
  margin: 0 auto;
  padding: 60px 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 94px 15px;
  }
}
