.hero__container {
  & .top-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: $color-gray-text;
    margin-bottom: 8px;
    @media screen and (min-width: 767px) {
      font-size: 32px;
    }
  }
  & h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 0.9;
    color: $accent-text-color;
    margin-bottom: 28px;
    @media screen and (min-width: 767px) {
      font-size: 72px;
    }
  }
}
.hero__title {
  font-size: 16px;
  font-weight: 100;
  line-height: 0.6;
  color: $accent-text-color;
  max-width: 800px;
  margin-bottom: 46px;
  & span {
    font-weight: 400;
    color: rgb(255, 191, 0);
    line-height: 1;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
.hero__button {
  display: block;
  background-color: rgb(255, 191, 0);
  border-color: rgb(0, 36, 87);
  color: rgb(20, 20, 20);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 12px 32px;
  border-radius: 20px;
  max-width: 400px;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;

  &:hover {
    background-color: rgb(201, 151, 0);
    border-color: rgb(0, 36, 87);
    color: rgb(20, 20, 20);
    opacity: 0.8;
  }
  &:active {
    background-color: rgb(201, 151, 0);
    border-color: rgb(0, 36, 87);
    color: rgb(20, 20, 20);
    opacity: 0.8;
  }
}
.hero__list {
  display: flex;
  width: 100%;
  gap: 24px;
  font-size: 12px;
  font-weight: 200;
  line-height: 1.5;
  color: rgb(136, 138, 140);
  @media screen and (min-width: 768px) {
    width: 50%;
    margin-left: auto;
    font-size: 16px;
  }
  & ul {
    display: flex;
    flex-direction: column;
    width: calc((100% - 20px) / 2);

    & li {
      margin-bottom: 16px;
      padding-bottom: 5px;
      border-bottom: 1px solid rgb(136, 138, 140);
    }
    // & .hero__list-item-icon {
    //   width: 48px;
    //   height: 48px;
    //   margin-bottom: 8px;
    // }
    // & .hero__list-item-text {
    //   font-size: 14px;
    //   font-weight: 400;
    //   line-height: 1.2;
    //   color: $accent-text-color;
    //   text-align: center;
    // }
  }
}
