.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 400ms ease,
    visibility 0s linear 0ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 400ms ease,
    visibility 0s linear 400ms;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  max-width: 420px;
  height: 100vh;
  background-image: linear-gradient(135deg, rgb(0, 22, 54), rgb(0, 93, 224));
  display: flex;
  flex-direction: column;
  padding: 96px 16px 0 32px;
  z-index: 1000;
  border-radius: 16px 0 0 16px;
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms ease;
  .mobile__nav {
    display: flex;
    flex-direction: column;
  }
}
.backdrop.is-hidden .mobile-menu {
  transform: translateX(100%);
  opacity: 0.9;
}
.mobile-menu-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: rgb(217, 217, 217);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 50%;
  border: none;
  transition: transform 300ms ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .menu-close {
    display: block;
    width: 18px;
    height: 18px;
  }
}
.mobile__nav__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.mobile__nav__item {
  border-bottom: 1px solid rgb(136, 138, 140);
  padding-bottom: 4px;
  color: rgb(220, 223, 227);
  font-size: 24px;
  font-weight: 500;
  line-height: 0.83;
}
.no-scroll {
  overflow: hidden;
}
