.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition:
    visibility 0s ease-in-out 0s,
    opacity 400ms ease,
    pointer-events 0s ease-in-out 0s;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 90vw;
  max-width: 460px;
  height: 100vh;
  background-color: #005de0;
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
  z-index: 1100;
  border-radius: 16px 0 0 16px;
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 300ms ease;
  @media screen and (min-width: 1200px) {
    width: 460px;
    padding: 96px 64px 0 64px;
  }
}
.modal-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: rgb(217, 217, 217);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  position: absolute;
  top: 24px;
  right: 14px;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}
.modal-icon {
  display: block;

  color: black;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.modal-btn:hover {
  overflow: hidden;
  transform: scale(1.2);
  cursor: pointer;
}

.modal-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 400ms ease,
    visibility 0s linear 400ms;
  pointer-events: none;
}
.modal-menu.is-hidden .modal {
  transform: translateX(100%);
  opacity: 0.9;
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 4px;
}

.form-title {
  font-size: 32px;
  line-height: 0.9;
  font-weight: 600;
  margin-bottom: 2px;
  color: $color-white;
  @media screen and (min-width: 768px) {
    font-size: 64px;
  }
}
.form-input {
  height: 24px;
  border-radius: 64px;
  padding: 8px 12px;
  @media screen and (min-width: 768px) {
    height: 32px;
  }
}
.form-textarea {
  border-radius: 10px;
  padding: 8px 12px;
}
.form-textarea,
.form-input,
.select {
  width: 100%;
  border: rgb(204, 204, 204) 1px solid;

  font-size: 12px;
  line-height: 1.43;
  color: rgb(83, 85, 87);
}
.select {
  padding: 2px 12px;
  border-radius: 64px;
  @media screen and (min-width: 768px) {
    height: 32px;
  }
}
.form-field {
  display: inline-block;
  position: relative;
}
.form-field:not(:last-child) {
  margin-top: 28px;
}
// .form-lable {
// //   height: 24px;
//   //   position: absolute;
//   //   top: 50%;
//   //   transform: translateY(-50%);
//   //   left: 30px;
//   //   transition:
//   //     transform 250ms var(--cubic),
//   //     left 250ms var(--cubic),
//   //     color 250ms var(--cubic);
// }
// .form-lable-textarea {
//   position: absolute;
//   top: 13px;
//   left: 30px;
//   transition:
//     transform 250ms var(--cubic),
//     left 250ms var(--cubic),
//     color 250ms var(--cubic);
// }

.form-input:focus + .form-lable,
.form-input:not(:placeholder-shown) + .form-lable {
  color: blue;
  left: 0;
  transform: translateY(-40px);
}
.form-textarea:focus + .form-lable-textarea,
.form-textarea:not(:placeholder-shown) + .form-lable-textarea {
  color: blue;
  left: 0;
  transform: translateY(-36px);
}
.form-input:focus,
.form-textarea:focus {
  outline: #3898ec 2px solid;
  padding: 8px 14px;
  scale: 1.02;
}
.form-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}
.form-input:focus ~ .form-icon {
  color: blue;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  //   display: inline-block;
  //   width: 10px;
  //   height: 10px;
  //   //   border: rgba(33, 33, 33, 1) 2px solid;
  //   border-radius: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: $color-white;
  flex-shrink: 0;
}
.checkbox-label {
  font-size: 12px;
  display: flex;
  line-height: 1.3;
  gap: 8px;
  align-items: center;
  color: rgb(220, 223, 227);
  padding: 5px 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.checkbox:checked + .checkbox-icon {
  background-color: $color-white;
  background-image: radial-gradient(circle, rgba(0, 93, 224, 1) 30%, rgba(255, 255, 255, 1) 30%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: border-box;
  border: blue 2px solid;
}
.modal-link {
  color: blue;
  text-decoration: underline;
}
.modal-button {
  height: 48px;
  font-size: 24px;
  font-weight: 600;
  border-radius: 64px;
  border: none;
  background-color: rgb(0, 53, 128);
  color: $color-white;
  align-self: center;
  align-items: center;
  padding: 6px 38px;
  align-items: center;
  transition: transform 300ms ease;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  &:hover {
    @media screen and (min-width: 768px) {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
