.revievs__container {
  h2 {
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    color: $color-gray-text;
    text-transform: uppercase;
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 0.9;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
}
.slider {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.button-arrow {
  background-color: #a3a5a8;
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $color-gray-hover;
  }
  .arrow {
    padding: auto;
  }
}
.slider-window {
  overflow: hidden;
}

.slider-track {
  display: flex;
  gap: 20px;
  transition: transform 0.4s ease;
}
