.review-card {
  background: linear-gradient(0deg, #888a8c, #c3c6c9);
  border-radius: 28px;
  padding: 12px;
  //   min-width: 320px;
  //   max-width: 420px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 0 100%;
  max-width: 100%;
  @media (min-width: 768px) {
    flex: 0 0 49%;
    max-width: 49%;
  }
  @media (min-width: 1200px) {
    flex: 0 0 calc((100% - 20px) / 3);
    max-width: 32%;
  }
}

/* TOP */

.review-card__top {
  display: flex;
  gap: 20px;
  align-items: center;
}

.review-card__avatar {
  width: 96px;
  height: 96px;
  border-radius: 20px;
  object-fit: cover;
}

/* INFO */

.review-card__date {
  font-size: 16px;
  //   opacity: 0.6;
  margin-bottom: 6px;
  color: #535557;
}

.review-card__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  //   text-transform: lowercase;
  color: black;
}

.review-card__course {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgb(51, 51, 51);
}

/* TEXT */

.review-card__text {
  background-image: linear-gradient(180deg, #dcdfe3, #c3c6c9);
  border-radius: 20px;
  font-size: 18px;
  line-height: 1.3;
  color: rgb(51, 51, 51);
  @media (min-width: 768px) {
    margin-bottom: auto;
    height: 100%;
  }

  & p {
    padding: 12px 24px;
  }
}

/* BOTTOM */

.review-card__bottom {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 6px;
}

/* SCORE */

.review-card__score {
  display: flex;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.review-card__score span {
  padding: 12px 18px;
  font-size: 22px;
  font-weight: 600;
}

.review-card__score-value {
  background: rgba(255, 255, 255, 0.6);
}

/* INSTAGRAM */

.review-card__insta {
  display: block;
  width: 70px;
  height: 56px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.4);
  fill: black;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  & .icon-insta {
    width: 40px;
    height: 40px;
  }
  &:hover {
    transform: scale(1.1);
  }
  transition: transform 300ms ease;
}
