.section__container {
  padding-top: 20px;
  @media (min-width: 768px) {
    display: flex;
    gap: 10px;
  }
  & > div {
    border-radius: 25px;
    border: 14px solid transparent;
    background-image:
      linear-gradient(#003580, #003580),
      // внутренняя заливка
      linear-gradient(180deg, #003580, #001636); // градиент для "бордера"
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
  }
}
.about-text {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
}

.about-image-cont {
  width: 550px;
  height: 550px;

  border-radius: 50px;
  overflow: hidden;
  flex-shrink: 0;

  @media (max-width: 767px) {
    width: 350px;
    height: 350px;
  }
}
.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.about-p {
  color: #ffbf00;
  font-size: 20px;
  font-style: italic;
  font-weight: 200;
  line-height: 1;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.about-p2,
.about-p3,
.about-p4 {
  color: rgb(195, 198, 201);
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
.about-p3,
.about-p4,
.about-p5 {
  color: rgb(255, 255, 255);
}
.about-p4 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 6px;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.about-p5 {
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
.about-p2 {
  margin-bottom: 10px;
  line-height: 1.2;
}
.icon-about {
  fill: $color-white;
  width: 56px;
  height: 56px;
  @media (min-width: 768px) {
    font-size: 16px;
    width: 66px;
    height: 66px;
  }
}
.about-bot {
  margin-top: 10px;
  display: flex;
  gap: 14px;
  align-items: center;
}
