.body-blog-main {
  //   background-image: linear-gradient(rgb(0, 14, 33), rgb(0, 36, 87) 60%, rgb(0, 70, 168));
  background-image: radial-gradient(circle, rgb(0, 93, 224), rgb(0, 36, 87));
}

.blog-main__container {
  //   background-image: radial-gradient(circle, rgb(0, 93, 224), rgb(0, 36, 87));
  //   border-radius: 50%;
  //   filter: blur(150px);
  @media (min-width: 768px) {
    align-items: flex-start;
    display: flex;
    gap: 34px;
  }
  & h1 {
    font-size: 24px;
    color: $color-white;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
  & > img {
    display: block;
    border-radius: 50px;
    overflow: hidden;
  }

  & > img,
  & > div {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex: 1;
    }
  }
}
.mentor {
  display: flex;
  margin-top: 20px;
  align-items: center;
  margin-bottom: auto;
  & .mentor-foto {
    padding: 4px;
    border-radius: 8px;
    background-image: linear-gradient(rgb(0, 70, 168), rgb(0, 22, 54));
    border: 1px solid rgb(111, 135, 168);
    margin-right: 14px;

    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
    img {
      border-radius: 6px;
    }
  }
}
.mentor-title {
  & p {
    color: rgb(163, 166, 168);
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  & p:first-child {
    color: rgb(220, 223, 227);
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
}
.blog-main-fake-btn {
  display: flex;
  gap: 4px;
  margin-top: 14px;
  @media (min-width: 768px) {
    margin-top: 20px;
  }
  & p {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: rgb(76, 92, 115);
    font-size: 12px;
    color: rgb(235, 238, 242);
    text-transform: uppercase;
    line-height: 1;
    @media (min-width: 768px) {
      font-size: 16px;
      padding: 12px 24px;
    }
  }
}
.blog-main-title-courses__container {
  background-color: $bcg-blogs-container;
  @media (min-width: 768px) {
    display: flex;
    @media (min-width: 768px) {
      padding-left: 120px;
    }
  }
}
.blog-main-title {
  background-color: $bcg-blogs-article;
  color: $blogs-main-title;
  // padding: 24px 24px 24px 64px;

  & h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 14px;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }
  & p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 21px;
    }
  }
  & b {
    font-weight: 700;
  }
  & a {
    color: blue;
  }
}
.blog-main-title__container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (min-width: 768px) {
    padding: 60px 120px;
  }
  ul {
    list-style: disc;
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.5;
    @media (min-width: 768px) {
      font-size: 21px;
    }
  }
  ol {
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.5;
    @media (min-width: 768px) {
      font-size: 21px;
    }
  }
  & .blog__line {
    margin: 0;
  }
}
.advertising {
  background-color: $bcg-advertising;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 calc((100% - 20px) / 2);
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 32px;
  }
  & .advertising_img {
    height: 150px;
    overflow: hidden;
    @media (min-width: 768px) {
      height: 250px;
      flex: 1;
    }
  }
  & img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
  }
}
.img-after-advertising {
  border-radius: 24px;
}
.advertising_title {
  flex: 1;
  color: $color-white;
  & h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
  & p {
    font-size: 16px;
    line-height: 1.2;
    @media (min-width: 768px) {
      font-size: 21px;
    }
  }
  & a {
    display: block;
    width: 100%;
    color: rgb(0, 14, 33);
    background-color: rgb(205, 210, 216);
    border-radius: 999px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 2.25;
    padding: 8px 32px;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
}
.last-title {
  font-size: 16px;
  line-height: 1.2;
  color: black;
  @media (min-width: 768px) {
    font-size: 24px;
  }
}
.daily-courses {
  color: rgb(52, 53, 54);
  img {
    width: 100%;
  }
  h2 {
    color: rgb(0, 14, 33);
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 26px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }
  p {
    font-size: 16px;
    line-height: 1.2;
  }
  & a {
    display: block;
    border-radius: 60px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    margin-bottom: 20px;
    transition: scale $cubic;
  }
  & a:hover {
    scale: 1.05;
  }
  div {
    padding: 20px;
  }
}
.blue {
  color: rgb(0, 93, 224);
  font-size: 16px;
  font-weight: 700;
}
