.courses__container {
  @media (min-width: 768px) {
    padding-top: 60px;
  }
  & > div {
    margin-bottom: 40px;
    @media (min-width: 768px) {
      display: flex;
      gap: 40px;
    }
  }
  img {
    border-radius: 24px;
    margin-bottom: 22px;
  }
  .announcement {
    font-size: 10px;
    line-height: 1.2;
    color: $color-gray-text;
    border: 1px solid $color-gray-text;
    border-top-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 8px 32px;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      font-size: 12px;
      width: fit-content;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.25;
    @media (min-width: 768px) {
      font-size: 21px;
    }
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 0.9;
    text-transform: uppercase;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      font-size: 48px;
      width: fit-content;
    }
  }
  h2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: rgb(112, 158, 224);
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  a {
    display: block;
    margin-top: 22px;
    background-color: rgb(0, 93, 224);
    font-size: 14px;
    line-height: 1.25;
    padding: 14px 24px;
    border-radius: 60px;
    width: fit-content;
    @media (min-width: 768px) {
      font-size: 16px;
      padding: 14px 32px;
    }
  }
}
// .body_courses {
//   //   background-image: (45deg, rgb(0, 36, 87), rgb(0, 22, 54) 46%, rgb(0, 70, 168));
//   background-image: linear-gradient(135deg, rgb(0, 14, 33), rgb(0, 47, 113) 67%, rgb(0, 93, 224));
//   //   background-image: radial-gradient(circle, rgba(0, 93, 224, 1) 0%, rgba(9, 9, 121, 1) 60%, rgba(0, 14, 33, 1) 100%);
// }
.course-card {
  max-width: 538px;
}
