@import "utils/variables";
// @import 'utils/mixins';
@import "base/reset";
@import "base/base";

@import "components/container";
@import "components/sections";
@import "components/header";
@import "components/hero";
@import "components/advantages";
@import "components/reviews";
@import "components/reviews-card";

// @import 'components/button';
// @import 'components/team';

// @import 'components/activity';
// @import 'components/customers';
// @import 'components/portfolio';
// @import 'components/card';
// @import 'components/footer';
// @import 'components/modal';
// @import 'components/footer';
// @import 'components/footer';
// @import 'components/social';
// @import 'components/mobile-menu';
@import "components/bots";
@import "pages/about";
@import "pages/blog";
@import "pages/blog-main";
