/* COLORS */
$color-white: #ffffff;
$background-color: linear-gradient(225deg, rgba(0, 36, 85, 1) 27%, rgba(0, 26, 63, 1) 79%);
$background-color-body: linear-gradient(90deg, #002457, #0046a8);
$background-color-link-borer: linear-gradient(180deg, #0046a8, #001636);
$background-color-body-blog: linear-gradient(
  225deg,
  rgb(0, 70, 168),
  rgb(0, 36, 85) 27%,
  rgb(0, 22, 54) 54%,
  rgb(0, 26, 63) 79%,
  rgb(0, 36, 87)
);
$background-color-link: #003580;
$accent-text-color: white;
$color-gray-text: rgb(195, 198, 201);
$bcg-blogs-article: rgb(235, 238, 242);
$bcg-blogs-container: #dcdfe3;
$blogs-main-title: rgb(83, 85, 87);
$courses-bcg-color: rgb(205, 210, 216);
$bcg-curriculum-btn: rgb(163, 165, 168);
$color-gray-hover: #888a8c;
$blue-text-color: #000e21;
$bcg-advertising: rgb(0, 14, 33);
$accent-button-color: rgb(255, 191, 0);
/* FONTS */
$main-font: "Geologica", "Arial", sans-serif;
/* OTHERS */
$transition-hover: transform 300ms ease;
$border-radius: 4px;
$cubic: 1000ms cubic-bezier(0.4, 0, 0.2, 1);

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@keyframes plusToVertical_V {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

/* Горизонтальная линия */
@keyframes plusToVertical_H {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ОБРАТНО */

@keyframes verticalToPlus_V {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@keyframes verticalToPlus_H {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
