html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $main-font;
  background-image: $background-color-body;
  color: $accent-text-color;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.5;
  margin: 0;

  // letter-spacing: 0.03em;
}

// h2,
// h3,
// h4 {
//   color: var(--color-text-title);
//   font-weight: 700;
// }
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
